version: '3.8'

services:
  db:
    image: postgres:13-alpine
    restart: always
    environment:
      POSTGRES_DB: biblioteca_dev
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  api:
    build:
      context: .
      dockerfile: Dockerfile.backend
    restart: always
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: dev
      DB_HOST: db
      DB_PORT: 5432
      DB_NAME: biblioteca_dev
      DB_USERNAME: user
      DB_PASSWORD: password
    depends_on:
      - db
    volumes:
      - ./target:/app/target # Mount the local target directory to allow Docker Compose to find the JAR

  web:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    restart: always
    ports:
      - "4200:80" # Map host port 4200 to container's port 80
    depends_on:
      - api

volumes:
  db_data: